body {

  @include breakpoint(medium down) {
    padding-top: 4.875rem;
  }
}

.section {
  padding: $small-section-spacing;

  @include breakpoint(medium) {
    padding: $section-spacing 0;
  }

  &.texture--above {
    padding-top: $section-spacing;

    @include breakpoint(medium) {
      padding-top: $lg-section-spacing;
    }
  }

  &.texture--below {
    padding-bottom: $section-spacing;

    @include breakpoint(medium) {
      padding-bottom: $lg-section-spacing;
    }
  }
}

.blog-post {

  h1 {
    font-weight: $global-weight-semi-bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .author {
    text-align: center;

    span {
      color: $blue--bg;
      font-weight: $global-weight-bold;
    }
  }

  &__date {
    text-align: center;
  }

  &__content {
    color: $black;
    margin-top: 2rem;

    &,
    * {
      font-family: $font-lato;
      font-size: 1.125rem;
      line-height: 2.1;
    }
  }
}
