body {

  @include breakpoint(large down) {
    padding-top: 4.875rem;
  }
}

.section {
  padding: $small-section-spacing;

  @include breakpoint(medium) {
    padding: $section-spacing 0;
  }

  &.texture--above {
    padding-top: $section-spacing;

    @include breakpoint(medium) {
      padding-top: $lg-section-spacing;
    }
  }

  &.texture--below {
    padding-bottom: $section-spacing;

    @include breakpoint(medium) {
      padding-bottom: $lg-section-spacing;
    }
  }
}
