<footer class="footer u-bg-gray">
  <div class="footertop">
    <div class="grid-container w-clearfix">
      <div class="grid-x">
        <div class="footertop__left cell medium-3">
          <div class="footer__logo">esteemed</div>
        </div>
        <div class="footertop__right cell medium-9">
        </div>
      </div>
      <div class="footerbottom w-clearfix">
        <div class="footerbottom__social">
          <a href="https://www.facebook.com/Esteemed-106526290944059/" class="footerbottom__social-icon"><img src="/img/facebook.svg"><span class="show-for-sr">Facebook</span></a>
          <a href="https://twitter.com/EsteemedTalent" class="footerbottom__social-icon"><img src="/img/twitter.svg"><span class="show-for-sr">Twitter</span></a>
          <a href="https://www.linkedin.com/company/esteemed/" class="footerbottom__social-icon"><img src="/img/linkedin.svg"><span class="show-for-sr">Linkedin</span></a>
          <a href="mailto:{{ site.email }}" class="footerbottom__social-icon" target="_blank"><img src="/img/email.svg"><span class="show-for-sr">Email</span></a>
        </div>
        <div class="footerbottom__copyright">Copyright&copy; {{ "now" | date: "%Y" }} Esteemed. <a href="/privacy-policy">Privacy</a> | <a href="/terms-use">Terms</a></div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
  window.intercomSettings = {
    app_id: "zrqksojs"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/zrqksojs'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zrqksojs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<script type="text/javascript" src="js/esteemed.js"></script>
