<footer class="footer u-bg-gray">
  <div class="footertop">
    <div class="grid-container w-clearfix">
      <div class="grid-x">
        <div class="footertop__left cell medium-3">
          <div class="footer__logo">esteemed</div>
        </div>
        <div class="footertop__right cell medium-9">
          <div class="grid-x">
            {% for item in site.data.menus.footer %}
              <div class="cell medium-3">
                <h5 class="u-text-bold">{{ item.title }}</h5>
                <ul class="menu vertical">
                  {% for menu in item.menu %}
                  <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="footerbottom w-clearfix">
        <div class="footerbottom__social">
          <a href="#" class="footerbottom__social-icon"><img src="/img/facebook.svg"><span class="show-for-sr">Facebook</span></a>
          <a href="#" class="footerbottom__social-icon"><img src="/img/twitter.svg"><span class="show-for-sr">Twitter</span></a>
          <a href="#" class="footerbottom__social-icon"><img src="/img/linkedin.svg"><span class="show-for-sr">Linkedin</span></a>
          <a href="#" class="footerbottom__social-icon"><img src="/img/email.svg"><span class="show-for-sr">Email</span></a>
        </div>
        <div class="footerbottom__copyright">Copyright© 2019 Esteemed. Privacy | Terms</div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/esteemed.js"></script>
