<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Esteemed</title>
  <meta content="{{ page.meta.description }}" name="description" />
  <meta content="{{ page.title }} | Esteemed" property="og:title" />
  <meta content="{{ page.meta.description }}" property="og:description" />
  <meta content="{{ page.meta.image }}" property="og:image" />
  <meta content="summary" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="/css/esteemed.css">
</head>
