<div data-collapse="large" data-animation="default" data-duration="400" class="hero-menu w-nav">
  <div class="grid-container">
    <div class="grid-x align-justify align-middle">
      <div class="w-nav-brand w--current large-shrink grid-x align-justify">
        <a href="/" class="w-logo">
          <img src="/img/esteemed-bw-logo.png" alt="" class="logo">
        </a>
      </div>
      <div id="main-navigation__button">
        <div class="title-bar" data-toggle="main-navigation" data-responsive-toggle="main-navigation" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle="main-navigation"></button>
        </div>
      </div>
    </div>
    <div class="grid-x" id="main-navigation__content">
      <div class="top-bar cell" id="main-navigation" data-toggler data-animate="fade-in fade-out">
        <ul class="dropdown vertical large-horizontal menu" data-dropdown-menu>

          {% for nav in site.data.menus.navigation %}

            {% if nav.button != 0 %} 
              {% assign class = "button" %}
            {% endif %}

            {% if class %}
              {% assign class = class | append: " " %}
            {% endif %}

            {% if nav.url == page.url %}
              {% assign class = class | append: "is-active" %}
            {% endif %}

            <li>
              <a {% if class %} class="{{ class }}"{% endif %} href="{{ nav.url }}">{{ nav.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
