<div data-collapse="large" data-animation="default" data-duration="400" class="hero-menu w-nav">
  <div class="grid-container">
    <div class="grid-x align-justify align-middle">
      <div class="w-nav-brand w--current cell large-shrink grid-x align-justify">
        <a href="/" class="w-logo">
          <img src="/img/esteemed-logo.png" alt="" class="logo" />
        </a>
      </div>
      <div id="main-navigation" class="off-canvas position-right in-canvas-for-large" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
