h1,
h2,
h3,
h4 {
  font-weight: $global-weight-thin;
}

.h5 {
  margin-bottom: $spacing;
}

a {
  transition: all 0.3s ease-out;

  &.mail {
    color: $black;

    &:hover {
      color: $blue--bg;
    }
  }
}

.button {
  font-family: $font-poppins;
  font-weight: $global-weight-normal;

  &.orange {
    background-color: $orange--btn;
  }

  &.transparent {
    background-color: transparent;
    border: 2px solid $dark-gray;
    color: $dark-gray;
  }
}

.sup-head {
  color: $blue--header;
  font-weight: $global-weight-bold;
  text-transform: uppercase;

  &:after {
    border-bottom: 2px solid $black;
    content: "";
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 100px;
  }
}

.quote {
  margin-bottom: $spacing;

  &::before {
    content: "″";
    display: block;
    font-size: rem-calc(70);
    font-weight: $global-weight-bold;
    line-height: 1;
    margin-bottom: -25px;
  }
}

.company-logo {
  margin-bottom: $spacing;
}

.breadcrumb {
  font-family: $font-poppins;
  font-size: 1.1rem;
}
