.u-text-bold {
  font-weight: $global-weight-bold;
}

.u-text-normal {
  font-weight: $global-weight-normal;
}

.u-text-orange {
  color: $orange;
}

.u-text-white {
  color: $white;
}

.u-bg-blue {
  background-color: $blue--bg;
}

.u-bg-gray {
  background-color: $gray--bg;
}
