.u-text-bold {
  font-weight: $global-weight-bold;
}

.u-text-normal {
  font-weight: $global-weight-normal;
}

.u-text-orange {
  color: $orange;
}

.u-text-white {
  color: $white;
}

.u-bg-blue {
  background-color: $blue--bg;
}

.u-bg-gray {
  background-color: $gray--bg;
}

.u-leader {
  margin-top: $spacing;
}

.u-trailer {
  margin-bottom: $spacing;
}

@include breakpoint(medium) {
  .main-title {
    line-height: 1.2;
    font-size: 4rem;
    font-weight: $global-weight-bold;
  }

  .main-text-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-poppins;
}
