---
layout: default
---

{% assign author = site.authors | where: 'slug', page.author | first %}
<div class="grid-container blog-post">
  <div class="grid-x align-top">
    <div class="cell">
      <h1>{{ page.title }}</h1>
      <address class="blog-post__author">By <span><a href="{{ author.url }}">{{ author.title }}</a></span></address>
      <div class="blog-post__date">{{ page.date | date: "%m.%-d.%Y" }}</div>
      <div class="blog-post__content">
        <img src="/img/{{ page.image }}">
        {{ page.content | markdownify }}
      </div>

      <div class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/blogs/category/{{category|slugize|downcase}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>

      <div class="blog-post__author-block">
        <div class="grid-x align-center-middle">
          <div class="blog-post__author-block--container grid-x cell large-8">
            <div class="cell medium-3">
              <div class="blog-post__author-block--image">
                <a href="{{ author.url }}"><img src="/img/{{ author.image }}"></a>
              </div>
            </div>
            <div class="cell medium-9">
              <div class="blog-post__author-block--name">
                <a href="{{ author.url }}">{{ author.title }}</a>
              </div>
              <div class="blog-post__author-block--bio">
                {{ author.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
