.simple-card {
  margin: $double-spacing 0;

  &--narrow {
    margin: 0 auto;
    max-width: 240px;
  }

  .simple-card__image {
    margin-bottom: $double-spacing;

    img {
      height: 200px;
    }
  }

  .simple-card__icon {
    height: 80px;
    margin-bottom: $spacing;
    text-align: center;
  }

  .simple-card__title {
    margin-bottom: $spacing;
  }
}

.our-value,
.our-vision {
  .simple-card {
    .simple-card__image img {
      height: 100px;
      width: 100px;
    }

    p {
      font-family: 'Lato', sans-serif;
    }
  }
}

.our-people {
  h2 {
    line-height: $section-spacing;
  }
}

.image-cards .image-card {
  padding: 10px 5px;

  img {
    height: 345px;
    padding: 5px;
  }
}
